<%- include('./_header.ejs') %>

    <body class="content-wrap" id="login-page">
        <div class="center-on-page">
            <h1 id="login-header">Login</h1>
            <% if(messages.error){ %>
                <%= messages.error %>
                    <% } %>
                        <div class="login-form">
                            <form action="/login" method="POST">
                                <div class="row">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" name="email" required>
                                </div>
                                <div class="row">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="password" required>
                                </div>
                                <button type="submit" id="login-button">Login</button>
                            </form>
                            <p id="register-here">Don't have an account? <i><a href="/register">Register here.</a></i></p>
                        </div>
        </div>
    </body>