<%- include('./_header.ejs') %>

<body class="content-wrap" id="login-page">
    <div class="center-register">
        <h1 id="login-header">Register</h1>
        <div class="login-form">
            <form action="/register" method="POST">
                <h2 class="center-stuff">Hello!</h2>
                <div class="row">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="row">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="row">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" id="register-here" class="btn btn-dark">Register</button>
            </form>
            <p id="register-here"><a href="/login"><i>Back to Login</i></a></p>
        </div>
    </div>
</body>
